@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
}


ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer{ 
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 16px;
}

.footer{
  background-color: lightgrey;
}

.right-links{
  margin-left: auto;
}

.content{
  align-self: center;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sorting{
  min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}